@page "/getproducts"
@using FirstBlazorApp.Server.Model
@inject HttpClient Http



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<h3>Get Products</h3>


@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Summary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in products)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Description</td>

                    <td>
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="@item.IsActive" id="flexSwitchCheckChecked" checked />
                     </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="@item.IsDelete" id="flexSwitchCheckDefault"/>
                     </div>
                    </td>
                    <td href="" class="bg-primary"><i class="fa fa-pen"></i></td>
                    <td href="" class="bg-danger"><i class="fa fa-trash"></i></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Products> products { get; set; } = new List<Products>();

    protected override async Task OnInitializedAsync()
    {
         products = await Http.GetFromJsonAsync<List<Products>>("product/getproducts");
       
    }

}
